<app-global-header title="Use of Fertilizer"></app-global-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="../../../assets/images/use_fertilizer.jpg"/>
    </ion-thumbnail>
    <div>
      <h2 class="ion-text-wrap">
        Pagdumala sa Nutrina
      </h2>
      <ion-note>
        Use of Fertilizer
      </ion-note>
    </div>
    <h1>{{ currentFragment }}</h1>
  </ion-item>

  <section id="pagdumalasanutrina">
    <h2>
      <a [routerLink]="['/']" fragment="pagdumalasanutrina">
        <ion-icon slot="start" name="link-outline"></ion-icon>
        Supisyente nga nutrina gikan sa tillering hangtod sa early panicle initiation (EPI) ug pagpamulak
      </a>
    </h2>
    <ion-text>
      <p class="ion-text-justify">
        <b>Kamahinungdanon.</b>
        Ang pagbutang ug mga nutrina sama sa abono maoy mapuno sa kal-ang tali sa kung unsa ang gikinahanglan
        sa tanum ug kung unsa ang anaa sa yuta, tubig ug hangin sa pagkakaron.
      </p>
    </ion-text>
    <ion-text>
      <p class="ion-text-justify">
        Supisyente nga nutrina gikan sa pgasaha ngadto sa sayo nga pagbuswak ug pagpamulak masiguro ang
        maayong tubo ug pareho ang pagdebelop sa uhay sa tanum. Masiguro usab niini nga makuha ang potensyal nga abot sa tanum.
      </p>
    </ion-text>
    <ion-text>
      <p class="ion-text-justify">
        Kung ang nutrina dili supisytente atol niining panahona, mamahimong hinay ang pagtubo, mas gamay ang saha ug uhay,
        mas gamay ra ang liso, ug mas gaan ang lugas. Kung manghinobra ang nutrina mahimo usab kini nga hinungdan sa
        kadaot tungod sa peste, paghapla, ug polusyon sa yuta.
      </p>
    </ion-text>
  </section>

  <section id="assessment">
    <h2>
      <a [routerLink]="['/']" fragment="assessment">
        <ion-icon slot="start" name="link-outline"></ion-icon>
        Assessment of Key Check
      </a>
    </h2>
    <ion-text>
      <p class="normal-line-spacing ion-text-justify">
        Walay taas o ubos nga parte human sa katapusang pagpatag:
      </p>
      <section>
        <ul>
          <li><p>Walay sintomas sa kakulang sa nutrina o toxicity gikan sa pagsaka ngadto sa sayo nga pagbuswak (EPI) ug pagpamulak.</p></li>
          <li><p>Makab-ot ang dili momenus sa 300 ka uhay/m? (kung gitanum)
            (300 panicles/m? (TPR) o 350 ka uhay/m? direct wet-seeded rice (DWSR) at dough stage.</p></li>
        </ul>
      </section>
      <p>

      </p>
    </ion-text>
  </section>

</ion-content>
