<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center">
    <div class="logo-center">
      <ion-img src="assets/logos/logo-no-background.svg" alt="SMRCM"/>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="submitForm()" novalidate>

      <ion-item lines="full">
        <ion-input label-placement="floating"
                   label="Full Name"
                   formControlName="fullName"
                   type="text" required />
      </ion-item>

      <!--    Errors for Full Name   -->
      <div *ngIf="this.signupForm.controls?.['fullName'].touched && this.signupForm.controls?.['fullName'].invalid">
        <div class="ion-padding" *ngIf="this.signupForm.controls?.['fullName'].errors?.['required']">
          <ion-note color="danger">Full Name is required.</ion-note>
        </div>
        <div class="ion-padding" color="danger" *ngIf="this.signupForm.controls?.['fullName'].errors?.['minlength']">
          <ion-note color="danger">Full Name should be min 2 chars long.</ion-note>
        </div>
      </div>

      <ion-item lines="full">
        <ion-input label-placement="floating"
                   label="Username"
                   formControlName="username"
                   type="text" required />
      </ion-item>

      <!--    Errors for Username   -->
      <div *ngIf="this.signupForm.controls?.['username'].touched && this.signupForm.controls?.['username'].invalid">
        <div class="ion-padding" *ngIf="this.signupForm.controls?.['username'].errors?.['required']">
          <ion-note color="danger">Username is required.</ion-note>
        </div>
        <div class="ion-padding" color="danger" *ngIf="this.signupForm.controls?.['username'].errors?.['minlength']">
          <ion-note color="danger">Username should be min 3 chars long.</ion-note>
        </div>
      </div>

      <ion-item lines="full">
        <ion-input label-placement="floating"
                   label="Password"
                   formControlName="password"
                   type="password" required />
      </ion-item>

      <!--    Errors for Password   -->
      <div *ngIf="this.signupForm.controls?.['password'].touched && this.signupForm.controls?.['password'].invalid">
        <div class="ion-padding" *ngIf="this.signupForm.controls?.['password'].errors?.['required']">
          <ion-note color="danger">Password is required.</ion-note>
        </div>
        <div class="ion-padding" color="danger" *ngIf="this.signupForm.controls?.['password'].errors?.['minlength']">
          <ion-note color="danger">Password should be min 5 chars long.</ion-note>
        </div>
      </div>


      <ion-row>
        <ion-col>
          <ion-button [disabled]="!signupForm?.valid" type="submit" color="danger" expand="block">
            <ion-spinner class="spinner" *ngIf="signingUp" name="crescent" />
            Sign Up
          </ion-button>
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-note>
            Already have an account? <br>
            <a [routerLink]="['/pages/login']" class="small-text">Log In</a>
          </ion-note>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
