<app-global-header title="Harvest on Time"></app-global-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img alt="" src="assets/images/pest_diseases/Picture8.png"/>
    </ion-thumbnail>
    <div>
      <h2 class="ion-text-wrap">
        Harvest on Time
      </h2>
      <ion-note>
        Gi-ani ang humay sa tukmang panahon
      </ion-note>
    </div>
  </ion-item>

  <section id="">
    <div class="section">
      <p class="ion-text-justify">
        <b>Kamahinungdanon.</b> Sa pag-ani ug paggiok sa tukmang panahon maseguro ang taas-nga kalidad sa humay nga
        modala nini ug taas nga bili sa merkado ug pagdawat sa konsyumer.
        Ang sayo kaayo nga pag-ani moresulta sa linghod nga lugas ug adunay <1 hangtod 1.5% nga pagkunhod sa ani, ug
        modala niini sa ubos mga milling recovery nga sama kaubos sa 53%. Ang ulahi na usab kaayo nga pag-ani mamahimong
        hinungdan sa pagkadugmok sa mga lugas nga adunay >3% (kung manwal) nga pagkunhod sa ani. Kini moresulta sa ubos
        nga head rice recovery sama kaubos sa 32% (manwal) o 38% (mekanikal).
      </p>
    </div>
    <div class="section">
      <ul>
        <li>
          <p>Anihon ang humay kung kasagaran sa mga lugas aduna nay kolor nga golden yellow:</p>
          <ul>
            <li>
              <p>85-90% kung manwal ang pag-ani</p>
            </li>
            <li>
              <p>90-95% kung gigamitan u combine harvester</p>
            </li>
          </ul>
        </li>
        <li>
          <p>Giokon ang humay nga dili maulahi sa usa ka adlaw human naani atol sa WS o duha ka adlaw kung DS.</p>
        </li>
      </ul>
    </div>

    <div>
      <h4>Rekomendasyon</h4>
      <ol>
        <li>
          <p>Pahubsan ang basakan 1-2 ka semana sa dili pa ang adlaw sa pag-ani:</p>
          <ul>
            <li>
              <p>aron makuha ang dungan nga pagkagulang ug pagkahinog</p>
            </li>
            <li>
              <p>aron malikayan ang pagkabasa sa mga lugas atol sa pag-ani</p>
            </li>
            <li>
              <p>alang sa mas sayon nga pagpahigayon sa mga buluhaton sa
                basakan.</p>
            </li>
          </ul>
        </li>
        <li>
          <p>Anion sa tukmang kagulangon, 85-90% (manwal) o 90-95% (gamit ang combine harvester) sa mga lugas aduna nay
            kolor nga golden yellow.</p>
        </li>
        <li>
          <p>Anihon sa tukmang moisture content (MC) ang mga lugas gamit ug grain moisture meter kung aduna nini.
            Kasagarang MC alang sa DS mao ng 18-21% ug 20-25% usab alang sa WS.
          </p>
          <img style="margin: 0 auto; width: 100%" src="assets/images/harvest_on_time/Picture18.jpg"/>
        </li>
        <li>
          <p>Human sa manwal nga pag-ani, giokon ang humay nga dili maulahi sulod sa usa (WS) o duha (DS) ka adlaw.</p>
          <ul>
            <li><p>
              Likayan ang pagpatong-patong sa mga naani nga humay diha sa basakan nga mulampas sa usa ka adlaw aron
              kapugngan ang pagsaka sa kainit (heat build-up) nga mamahimong hinugdan sa pagdiskolor sa mga lugas ug
              muubos ang kalidad sa bugas human magaling.
            </p></li>
            <li>
              <p>Likayan ang paggiok sa basa kaayo nga humay gamit ang mechanical thresher aron kapugngan ang pagkalugi
                gikan sa poor grain-cleaning and separation.
              </p>
            </li>
            <li>
              <p>
                Sundon ang rekomendado nga kapaspason sa threshing drum (800 rpm alang sa de-makina nga giokan) aron
                malikayan ang pagkadaot sa mga lugas. Mamahimong mutaas ang kapasidad and separation losses.
              </p>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </section>
</ion-content>
