<app-global-header title="Storage"></app-global-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img alt="" src="assets/images/pest_diseases/Picture8.png"/>
    </ion-thumbnail>
    <div>
      <h2 class="ion-text-wrap">
        Storage
      </h2>
      <ion-note>
        Pagdumala Human sa Pag-ani
      </ion-note>
    </div>
  </ion-item>

  <section id="">
    <div class="section">
      <p class="ion-text-justify">
        <b>Kamahinungdanon.</b> Ang hustong pagpauga, paglimpyo ug pagtipig mamintinar ang kalidad sa humay ug
        makatabang sa pagkontrol sa pagkalugi human sa anihan. Mamintinar usab niini ang kalidad sa humay nga angay
        ipagaling ug mamahimong tipigan sa mas taas nga panahon.
      </p>
      <p>
        Ang pagprodyus ug taas nga kalidad sa humay makatabang nga mahatag ang kinahanglanon sa mga kustomer ug madawat
        sa merkado. Makuha usab nini ang taas nga bili sa kinatibuk-ang merkado.
      </p>
      <ul>
        <li>
          <p>Pareho ang kaugahon sa mga lugas sulod sa 12-24 ka oras human sa pag-ani.</p>
        </li>
        <li>
          <p>Husto ang pagkatipig ug paglimpyo sa mga lugas ug adunay 12-14% MC.</p>
        </li>
      </ul>
    </div>
    <div class="section">
      <p class="ion-text-justify">
        <b>Rekomendasyon.</b>
      </p>
      <ol>
        <li>
          <p>Paugahon ang humay sulod sa 12-24 ka oras human maani ug magiok:</p>
          <ul>
            <li>
              <p>Gamit ug mechanical dryer sa temperatura nga dili mutaas sa 50-70°C sulod sa 5-8 ka oras.</p>
            </li>
            <li>
              <p>Sa pagpauga sa basa kaayo nga humay, maniobrahon ang dryer sa dili init nga hangin atol sa unang 1-2 ka
                oras sa pagpauga o hangtod 18% MC (skin dry).</p>
            </li>
            <li>
              <p>
                Paubsan ang temperatura sa pangpauga nga hangin (drying air temperature) atol sa ulahing 2 ka oras sa
                pagpauga o kung ang MC halos muabot na sa 15%. Paugahon ang mga lugas sa humay ngadto 12-14% MC.
              </p>
            </li>
            <li>
              <p>
                Kung walay mechanical dryer, paugahon sa adlaw diha sa limpyo
                ug sementado nga bularanan. Ukayon ang mga lugas sa humay
                kada 30 minutos aron mapantay kang pagkauga. Likayan nga
                mabasa sa ulan ang gipauga nga humay.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>Ipatong ang gipauga nga humay sa mga paleta aron maprotektahan gikan sa umog samtang nagahulat sa paglimpyo
            sa mga lugas (grain-cleaning). .</p>
          <ul>
            <li>
              <p>Gamit ug limpyo nga sudlanan o sako nga adunay plastik nga layning.</p>
            </li>
            <li>
              <p>Seguruhon nga sakto ang label etiketa nga ibutang sa sulod ug gawas sa sako.</p>
            </li>
            <li>
              <p>
                Kinahanglan dili modugay sa 3 ka adlaw ang temporaryo nga tipiganan sa humay sa dili kini pa
                malimpyohan.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>Lipyohan ang mga gipauga nga humay sulod sa 2-3 ka adlaw.</p>
          <ul>
            <li>
              <p>Tanggalon ang mga hugaw sama sa tipasi o walay sulod nga lugas ug mga uhot, nga mamahimong adunay taas
                nga MC nga maoy hinungdan sa hot spots sulod sa sako.</p>
            </li>
            <li>
              <p>Kung mogamit ug grain cleaner, maniobrahon ang kapaspas nini aron mamenusan ang pagkalugi. Sa dili pa
                gamiton ang grain cleaner, seguruhon nga limpyo kini ug walay lugas nga nabilin gikan sa unang paggamit
                nini.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>Kung dili ibaligya dayon, hipuson ang mga binhi sa tipiganan nga dili kasudlan ug tubig, sakto ang aeration
            ug luwas sa mga peste sama sa ilaga, langgam ug mga insekto.
          </p>
          <ul>
            <li>
              <p>Dili tipigan ang uga ug limpyo nga humay uban sa mga kemikal, abono o semento sulod sa usa ka
                tipiganan.
              </p>
            </li>
            <li>
              <p>Susihon ang kainiton pinaagi sa pag-alsa sa ibabaw nga bag o sako ug hikapon ang bag nga naa sa
                ilalom.</p>
            </li>
            <li>
              <p>Susion ang mga tinipigan bisan kausa sa usa ka semana aron mabantayan ang pagdagsang sa mga peste, mga
                kadaot o pagkabasa pag-usab nini.
              </p>
            </li>
            <li>
              <p>
                Mintinaron ang kalimpyo ug kahapsay sulod ug gawas sa tipiganan, ug seguruhon ang periodic aeration
                aron:
              </p>
              <ul>
                <li>
                  <p>mapugngan ang pagbalik sa pagkabasa (moisture) sa gitipigan nga humay</p>
                </li>
                <li>
                  <p>protektahan ang humay batok sa mga insekto, ilaga ug mga langgam</p>
                </li>
                <li>
                  <p>mapasayon ang pagkarga ug pagdiskarga</p>
                </li>
                <li>
                  <p>magamit ug sakto ang wanang o lugar</p>
                </li>
                <li>
                  <p>sayon ang pagmintinar ug pagdumala sa produkto</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <p>Dili goyuron ang humay sa paghakot aron malikayan ang pagkadaot niini. Mogamit ug karetilya kung naa.</p>
        </li>
        <li>
          <p>landam ang plano sa han-ay sa kamada sa dili pa moabot ang mga sako sa humay.</p>
          <ul>
            <li>
              <p>Dili sagulon ang mga barayti sa usa ka kamada. Dili sagulon ang daan ug bag-ong tinipigan sa usa ka
                kamada.</p>
            </li>
            <li>
              <p>Iplastar ang kamada hangtod sa tumoy sa paleta. Ang kamada nga gibaligtos/piyansa (bonded) mas
                lig-on.</p>
            </li>
            <li>
              <p>Maghatag ug espasyo nga kalusutan sa hangin sa matag kamada alang sa bentilasyon.</p>
            </li>
            <li>
              <p>
                Dili kaayo taason ang kamada aron ang naa sa pinakailalom nga sako dili mapislat ug mabuskag.
                Kinahanglan 6-7 ka sako sa humay lamang matag kamada. Ang gitas-on sa kamada kinahanglan dili mulapas sa
                gitas-on sa bungbong.
              </p>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </section>
</ion-content>
