<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Land Preparation - SMRCM</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <ion-list lines="full">
      <ion-item *ngFor="let process of processes">
        <ion-label class="ion-text-wrap">{{ process }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
