<app-global-header title="About"></app-global-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Simplified Mobile-based Rice Crop Manager Application.</h1>
  <p>
    The objective is to assess the current technology utilized by
    rice farmers in Davao Oriental and develop a simplified version for a mobile platform. Farmers can use the program
    on their Android smartphones to examine their specific location and receive recommendations based on the available
    information. Additionally, aspiring rice farmers will have the opportunity to learn the correct techniques for
    growing rice, from planting to harvesting.
  </p>
  <br>
  <h3>Developed by RJ Salimaco @ 2023</h3>
</ion-content>
