<app-global-header title="Land Preparation"></app-global-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none">
    <ion-thumbnail slot="start" class="title">
      <img alt="Silhouette of mountains" src="assets/images/planting/Picture6.png"/>
    </ion-thumbnail>
    <div>
      <h2 class="ion-text-wrap">
        Planting
      </h2>
      <ion-note>
        Pagtanum
      </ion-note>
    </div>
  </ion-item>

  <section id="patag">
    <div class="section">
      <p class="ion-text-justify">
        <b>Kamahinungdanon. </b> Sa dungan nga pagpananum human makapahulay ang yuta, mamahimong episyente ang paggamit
        sa patubig ug malikayan ang pagdaghan sa mga insekto ug mga sakit, ug sa ingon, mapugngan ang pagkalugi.
      </p>
      <p>Sama sa panghitabo sa pagdaghan sa tungro nga sakit tungod Sama sa panghitabo pagdaghan sa tungro nga sakit
        tungod sa GLH.
      </p>

      <swiper-container>
        <swiper-slide><img src="assets/images/planting/Picture2.jpg"
                           (click)="openPreview('assets/images/planting/Picture2.jpg')"></swiper-slide>
      </swiper-container>

      <p>
        Kung ang mga mag-uuma sa usa ka lugar magdungan ug tanum. magdungan usab sila sa pag-ani, sa ingon, wala nay
        mabilin nga makaon ang mga peste aron mabuhi ug managhan.
      </p>
      <p>
        Makapahulay ang basakan sa dili mumenus sa 30 ka adlaw human sa pag-ani ug sa dili pa magsugod ang sunod nga
        ting-tanum. Nakatanum sulod sa 14 ka adlaw sa dili pa o 14 ka adlaw human sa regular nga takda sa pagpananum
        sulod sa irrigation service area or applicable vicinity.
      </p>

      <swiper-container>
        <swiper-slide><img src="assets/images/planting/Picture3.jpg"
                           (click)="openPreview('assets/images/planting/Picture3.jpg')"></swiper-slide>
      </swiper-container>
    </div>

    <div>
      <h4>Rekomendasyon</h4>
      <ol>
        <li>
          <p>Human sa pag-ani, papahulayon ang basakan. Dili kini tamnan human sulod sa 30 ka adlaw.</p>
          <p>Benepisyo sa pagpahulay sa baskan:</p>
          <ul>
            <li>
              <p>Maputol niini ang sikulo sa mga pesteng insekto. Kasagaran sa mga pesteng insekto adunay 30 ka adlaw
                ang sikulo sa ilang kinabuhi. Nining panahona, wala silay kapuy-an ug kadaghanan kanila magutom hangtod
                mamatay.
              </p>
            </li>
            <li>
              <p>Dauton niini ang disease host ug moubos ang inoculum sa basakan. Kung pasagdan lang ang basakan nga
                walay gamit, ang tinubdan sa mga sakit nga nadebelop sa miaging cropping season mamatay sa dili pa
                mosugod ang sunod nga tingtanum.
              </p>
            </li>
            <li>
              <p>Mahatagan ug igong panahon aron madugta pag-ayo ang mga uhot sa humay ug sa organic materials nga
                mamahimong abobo.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>Sundon ang lokal nga kalendaryo sa pagnanum aron sakto nga makagamit sa patubig sulod sa kamunidad. Buhaton
            ang dungan nga pagtanum sulod sa applicable vicinity (sama sa turnout, division, barangay).
          </p>
        </li>
      </ol>
    </div>

    <div class="section">
      <p class="ion-text-justify">
        Saktong gidaghanon sa himsog nga mga semilya Kamahinungdanon. Ang himsog nga mga semilya adunay short leaf
        sheaths, taas ug baga nga mga gamot, ug pantay ang gitas-on. Dungan ang pagtubo nini ug walay kadaot tungod sa
        peste.
      </p>
      <p>
        Uban sa dungan nga pagtubo, ang himsog nga mga semilya makahatag ug maayong nga canopy ug matag tanom
        makapahimulos ug sakto sa kahayag sa adlaw ug sa nutrina sa yuta. Dali lang usab sila maulian gikan sa
        transplanting shock ug adunay mas taas nga survival rate. Makaprodyus kini ug productive tillers nga makahatag
        ug taas nga potensyal sa mas taas nga abot.
      </p>

      <p>
        Alang sa gibalhin ug tanum o Transplanted Gisunod ang rekomendado nga gidaghanon sa semilya ga 20-40kg matag
        hektarya (ha) nga dekalidad nga binhi sa humay.
      </p>

      <p>
        Nasiguro nga kadasok sa mga tisok nga adunay 25 tisok matag square meter (m?) kung manwal kini nga gitanum o 21
        ka tisok/m? kung mekanikal ang paagi sa pagtanum niini. Nasiguro ang kahimsog sa mga semilya matag tisok Unsaon
        pagsusi sa kadasok sa mga tinisok ug ang kahimsog sa TPR:
      </p>
    </div>

    <div>
      <ol>
        <li>
          <p>Sa ika-10 ka adlaw human sa pagtanum, sulagma nga magpili ug tulo ka sampol nga lokasyon nga dili mumenus
            sa 1 m gikan sa pilapil ug padiyagonal tabok sa basakan.
          </p>
        </li>
        <li>
          <p>Ihapon ang mga tisok sa matag lokasyon gamit ang 1m × 1m quadrat alang sa manwal nga tinanum. Alang sa
            mekanikal nga paganum, magsukod ug 1.1m x 0.9m quadrat.
          </p>
        </li>
        <li>
          <p>
            Sumahon ang tanang ihap sa tisok ug bahinon o i-divide sa 3 aron makuha ang average o kasagarang ihap sa
            tisok/m2
          </p>
        </li>
      </ol>
    </div>

    <div>
      <ol>
        <li>
          <p>Sa matag parsela, sulagma nga magpili ug 10 ka tisok. Matag tisok kinahanglan adunay bisan usa ka himsog
            nga semilya.
          </p>
          <ul>
            <li>
              <p>Manwal dili mumenus sa 25 ka tisok/m? nga adunay dili munenus sa usa ka himsog nga semilya matag tisok.
              </p>
            </li>
            <li>
              <p>Mekanikal dili mumenus sa 21 ka tisok/m? dili mumenus sa ka himsog nga semilya matag tisok.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>Alang sa Direct Wet-Seeded Rice (DWSR):
          </p>
          <ul>
            <li>
              <p>Misunod sa rekomendado nga gidaghanon sa semilya nga 40-60kg/ha alang sa row seeding ug 60-80kg/ha
                alang sa broadcast seeding.
              </p>
            </li>
            <li>
              <p>Nasiguro nga ang kadasok sa mga tanum adunay 225 ka tanum/m? sa 60kg/ha nga gidaghanon sa semilya, o
                300 ka tanum/m? sa 80kg/m? nga gidaghanon sa semilya.
              </p>
            </li>
            <li>
              <p>Ang mga tanum sa matag quadrat walay kadaot sa peste ug pareho ang kolor sa mga dahon ug tupong ang
                gitas-on.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>Unsaon pagsuta sa kadasok ug kahimsog sa mga tinisok sa DWSR:
          </p>
          <ul>
            <li>
              <p>Sulod sa 15-18 human sa pagpugas (DAS), sulagmang mamili ug tulo ka sampol nga dapit nga dili mumenus
                sa im gikan sa pilapil ug padiyagonal tabok sa basakan.
              </p>
            </li>
            <li>
              <p>
                Gamit ug 0.5m x 0.5m quadrat. Ihapon ang mga tanum matag quadrat, kwetahon ang average o kasagarang ihap
                sa tanum matag quadrat, dayon i-multiply kini ug 4 aron makuha ang kasagarang tanum/m2
              </p>
            </li>
            <li>
              <p>Sa matag quadrat, susion ang mga tanum sa ilang pagkapareho sa kolor sa dahon, ang gitas-on sa tanum,
                ug kung aduna ba kini kadaot tungod sa peste.
              </p>
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="section">
      <swiper-container>
        <swiper-slide><img src="assets/images/planting/Picture4.jpg"
                           (click)="openPreview('assets/images/planting/Picture4.jpg')"></swiper-slide>
      </swiper-container>
    </div>
  </section>
</ion-content>
