<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center">
    <div class="logo-center">
      <ion-img src="assets/logos/logo-no-background.svg" alt="SMRCM"/>
    </div>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
      <ion-item >
        <ion-input label-placement="floating"
                   label="Username"
                   class="username"
                   type="text"
                   formControlName="username" required />
      </ion-item>
      <ion-item >
        <ion-input label-placement="floating"
                   label="Password"
                   type="password"
                   formControlName="password" required />
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!loginForm?.valid" type="submit" expand="block">
            <ion-spinner class="spinner" *ngIf="loggingIn" name="crescent" />
            Sign In
          </ion-button>
          <label class="error-message">{{errorMessage}}</label>
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-note>
            Don't have an account yet?<br>
            <a [routerLink]="['/pages/signup']" class="small-text">Sign Up</a>
          </ion-note>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
