<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="ion-text-wrap">
        {{ title }} <br>
        <ion-note>
          Simplified Mobile-based Rice Crop Manager
        </ion-note>
      </span>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="globalSearch($event)"></ion-searchbar>
  </ion-toolbar>
  <div class="ion-list">
    <ion-list *ngIf="searchedContents.length > 0" class="">
      <ion-note class="ion-padding"> Search Result: <span class="ion-color-danger">{{ searchedContents.length }}</span></ion-note>
      <div *ngFor="let item of searchedContents;" >
        <ion-item>
          <ion-label [routerLink]="item.url" [fragment]="item.fragment">
            <h3>{{item.title}}</h3>
            <ion-note  class="ion-text-nowrap normal-line-spacing">
              {{ item.subtitle }}
            </ion-note>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>

</ion-header>
