<app-global-header title="Home"></app-global-header>
<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let m of menu; let i = index" [attr.data-index]="i">
          <ion-card [routerLink]="m.url" fragment="assessment" class="menu-cards">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-header>
              <ion-card-title>
                <div class="image">
                  <ion-img [src]="m.image" [alt]="m.title"/>
                </div>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2>{{ m.title }}</h2>
              <p>{{ m.subtitle }}</p>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
