<app-global-header title="Water Management"></app-global-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/images/water/Picture12.jpg"/>
    </ion-thumbnail>
    <div>
      <h2 class="ion-text-wrap">
        Water
      </h2>
      <ion-note>
        Pagdumala sa Patubig
      </ion-note>
    </div>
  </ion-item>
  <section id="">
    <div class="section">
      <p class="ion-text-justify">
        <b>Kamahinungdanon.</b>
        Ang saktong gidaghanon sa tubig magdasig sa mas maayong pagkonusmo sa nutrino, kabaskog sa tanum, mas maayong
        pagdumala sa kohol ug sagbot, dungan nga pagtubo ug pagkagulang, ug uban pang mas episyente nga buluhaton sa
        uma. Ang kulang nga patubig maoy hinungdan sa stress tungod sa hulaw o drought stress nga muresulta sa ubos nga
        kaepisyente sa abono, ubos nga abo tug ubos nga kalidad sa lugas. Ang sobra usab nga patubig muresulta sa mas
        taas nga galastuhan, dili balanse nga nutrino, ubos ang abot ug mas daghang greenhouse gas emissions.
      </p>
      <ul>
        <li>
          <p>
            Walay sinumas sa stress sa tubig tungod sa hulaw atol sa vegetative phase, ngadto sa mga bahin sa pagbuswak
            ngadto sa pagpangunod sa mga lugas.
          </p>
        </li>
        <li>
          <p>
            Walay sintomas sa stress sa tubig tungod sa sobra nga patubig atol sa vegetative phase.
          </p>
        </li>
      </ul>

      <div>
        <h4>Sintomas sa stress sa tubig atol sa vegetative phase:</h4>
        <p>
          Stress tungod hulaw (lalom ang mga liki sa yuta nga kapin na sa 3 ka adlaw):
        </p>
        <ul>
          <li>
            <p>
              Mangalukot ang mga dahon ug mag-uga ang tumoy sa dahon
            </p>
          </li>
          <li>
            <p>
              Masawot ang tubo
            </p>
          </li>
        </ul>

        <h4>Stress tungod sa sobra nga patubig (> 5sm nga gilawmon sa tubig sulod sa 7 la adlaw o sobra pa):</h4>
        <ul>
          <li>
            <p>Miubos ang pagsubing (<10 saha matag tisok)</p>
          </li>
          <li>
            <p>Mas gagmay ang dahon</p>
          </li>
          <li>
            <p>Ang mga gamot adunay dark color nga unta reddish brown or lighter</p>
          </li>
        </ul>

        <h4>Sintomas sa stress sa tubig tungod sa hulaw atol sa bahin sa pagbuswak hangtod sa pagangunod sa mga
          lugas:</h4>
        <ul>
          <li>
            <p>Mangalukot ang mga dahon ug ug mag-uga ang tumoy sa dahon</p>
          </li>
          <li>
            <p>Daghan ang mga walay unod nga spikelets</p>
          </li>
          <li>
            <p>Reduced panicle exertion</p>
          </li>
        </ul>
      </div>

      <div>
        <h4>Mga Rekomendasyon</h4>
        <ol>
          <li>
            <p>Paninguhaon ang 2-3sm nga lebel sa tubig matag panahon sa irigasyon sulod sa 3-14 DAT. Ihunong ang
              irigasyon sa 0-14 ka adlaw DAS, kung aduna gihapon tubig sa basak, gawas lang kung adunay makita nga
              sintomas sa grabe nga hulaw.
            </p>
          </li>
          <li>
            <p>Kinahanglan makaabot sa 3-5sm ang lebel sa tubig matag irigasyon.</p>
          </li>
          <li>
            <p>Mintinaron ang 5sm nga lebel sa tubig atol sa pagpamulak.</p>
          </li>
          <li>
            <p>Kinahanglan makaabot sa 5sm ang lebel sa tubig atol sa pagpanghinog.</p>
          </li>
          <li>
            <p>Pahubason ang tubig o ipahunong ang patubig:</p>
            <ul>
              <li>
                <p>Usa ka semana sa dili pa ang gihulat nga adlaw sa pag-ani alang sa medium-textured soil o atol sa dry
                  season.</p>
              </li>
              <li>
                <p>Duha ka semana sa dili pa ang gihulat nga adlaw sa pag-ani alang sa fine-textures soil o atol sa wet
                  season.</p>
              </li>
            </ul>
          </li>
          <li>
            <p>Kung nihit ang tubig, buhaton ang controlled irrigation. Atol sa Pagtubo sa tanum, buhaton ang
              Alternative Wetting and Drying (AWD) nga teknolohiya nga inabagan sa usa ka observation well.
            </p>
          </li>
        </ol>
        <img style="margin: 0 auto; width: 100%"
             src="assets/images/water/Picture15.jpg">
      </div>

    </div>
  </section>
</ion-content>
