<app-global-header title="Best Variety"></app-global-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="../../../assets/images/use_fertilizer.jpg"/>
    </ion-thumbnail>
    <div>
      <h2 class="ion-text-wrap">
        Best Variety
      </h2>
      <ion-note>
        Pagpili sa Binhi
      </ion-note>
    </div>
  </ion-item>

  <section id="">
    <div class="section">
      <p class="ion-text-justify">
        <b>Kamahinungdanon.</b> Ang dekalidad nga binhi maingon nga puro, mas gamay ang liso sa sagbot ug walay makita
        nga
        seed-borne diseases, bus-ok ug susama ang gidak-on ug dili mumenus sa 85% germination rate. Sa pagdungan ug
        tubo, gulang ug pagkahinog sa tanum nga gikan sa dekalidad nga binhi, mas mapasayon ug mas episyente ang pag-ani
        niini.
      </p>
      <p>
        Kini moresulta ngadto sa 10% o taas pa niini nga umento sa abot.
        Ang mga rekomendado nga mga barayti gipahaom ngadto sa lokal nga kondisyon. Makasukol kini batok sa biotic
        stresses (sama sa nagapasulabi nga mga peste ug sakit) sa usa ka lugar, napamatud-an nga adunay makanunayon ug
        taas nga abot, ug mas gipalabi sa mga mag-uuma ug mga lokal nga konsumante.
      </p>
      <p>
        Ang mga binhi sertipikado sa Bureau of Plant Industry - National
        Seed Quality Control Services (BPI-NSQCS).
      </p>
      <p>
        ung walay akreditado nga seed growers sa maong lugar, mamahimong makakuha ug dekalidad nga binhi sa mga
        kasaligan nga kakuhaan o kaugalingong hinimo.
      </p>
      <p>
        Ang barayti nahaum sa palibot, makatubag sa nagapadayong suliran sa uma, o di kaha ang maong barayti nakahatag
        ug maayong kahimoan sa 2 ka panahon sa adaptability trials.
      </p>
      <h4>Mga Rekomendasyon</h4>
      <ol>
        <li>
          <p>Mas maayo kung ang kakuhaan ug binhi akreditado nga seed
            grower. Sutaon kung balido ang nakadikit nga NSQCS tag.
            Kung ang binhi dugay na nga gitipigan o sobra sa milabay nga
            tingtanum, kinahanglan makapasar kini sa germination re-test sa dili
            pa kini itanum.
          </p>
          <ul>
            <li>
              <p>Magkuha lang ug binhi gikan sa kasaligan nga mga mag-uuma sa
                maong lugar (pananglit gikan sa mga uma nga adunay uniporme nga
                pagtubo sa tanum)</p>
            </li>
            <li>
              <p>Pagprodyus ug kaugalingon nga dekalidad nga binhi subay sa
                saktong pamaagi, hilabi na sa pagpili o pagtanggal sa dili maayo nga
                binhi </p>
            </li>
            <li>
              <p>Segoruhon nga ang giprodyus sa mag-uuma nga binhi makapasar
                usab sa germination re-test aron matino ang kalidad niini, nga
                mamahimong buhaton sa mag-uuma o sa NSOCS</p>
            </li>
          </ul>
        </li>
        <li>
          <b>Pilion ang barayti nga:</b>
          <ul>
            <li><p>haum sa palibot (gipatubigan o rainfed) o panahon sa tingtanum
              (Dry Season [DS] o Wet Season [WS]). Sa rainfed nga lugar, mas
              maayo nga unahon ang mga barayti nga gituyo alang sa rainfed
              environment. Atol usab sa wet season, bantayan ang nagapasulabi
              nga mga peste sa maong lugar ug ikonsiderar ang barayti nga adunay
              kinaiya nga mabuskag ug mahapla.</p></li>
          </ul>
        </li>
      </ol>

    </div>
    <div class="section">
      <h4>Mga Rekomendasyon</h4>
      <ol>
        <li>
          <p>Ang NSIC Rc 222 girekomenda alang sa tibook nasud sa Pilipinas, DS
            ug WS. Ang PSB Rc 10 usa ka barayti nga mas dali mogulang (105 ka
            adlaw) nga mohaom sa kalendaryo sa pagpananum sa dili pa moabot
            ang bulan nga kasagaran adunay bagyo.
          </p>
          <ul>
            <li>
              <p>matubag ang nagapadayong suliran sa uma. Sa mga lugar nga
                sagad maapektuhan sa makadaot nga bagyo, hulaw or baha, hilabi
                na atol saWS, gamit ug barayti nga adunay saktong kagulangon nga
                makaikyas sa potensyal nga abiotic stress.</p>
              <p>Ikonsiderar usab ang rekomendado nga barayti matag rehiyon
                tungod kay kini mao ang gipaangay sa maong lokalidad.</p>
            </li>
            <li>
              <p>adunay maayong kahimoan sa labing menus 2 ka panahon sa
                adaptability trials nga gipahigayon sa PhilRice o sa lokal nga buhatan
                sa DA.
              </p>
            </li>
            <li>
              <p>adunay taas nga panginahanglanon sa merkado.</p>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </section>
</ion-content>
